<div id="container"></div>
<div id="dynamic"></div>
<div id="scores">
  <div id="myscore"></div>
  <div id="highscores">
    <% for (var i = 0, ii = highscores.length; i < ii; i += 1) { %>
      <div class="hs"><%= highscores[i].email %><%= highscores[i].highscore %></div>
    <% } %>
  </div>
</div>

<div id="restart">
<span class="sad">Sorry, you've died, and there's nothing to show for it.</span>
  <span class="congrats">Congrats on getting a new high score!</span>
</div>
