<div id="container"></div>
<div id="dynamic"></div>

<div id="scores">
  <div id="highscores">
    <% for (var i = 0, ii = highscores.length; i < ii; i += 1) { %>
      <div class="hs">
        <img data-email="<%= highscores[i].email %>">
        <span class="email">
          <%= highscores[i].email %>
        </span>
        <span class="score">
          <%= highscores[i].highscore %>
        </span>
      </div>
    <% } %>
  </div>
</div>

<div id="myscore-wrapper">
  <span id="myscore"></span>
</div>

<div id="restart">
  <span class="sad">
    Sorry, you've died and there's nothing to show for it.<br>
    Press space or click here to restart.
  </span>
</div>
