<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title></title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script> 
<script type="text/javascript" src="/js/three.min.js"></script>

<script id="vs-godray" type="x-shader/x-vertex">
  varying vec2 vUv;
  void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
  }
</script>

<script id="fs-godray" type="x-shader/x-fragment">
  varying vec2 vUv;
  uniform sampler2D tDiffuse;
  uniform float fX;
  uniform float fY;
  uniform float fExposure;
  uniform float fDecay;
  uniform float fDensity;
  uniform float fWeight;
  uniform float fClamp;
  const int iSamples = 60;
  void main()
  {
    vec2 deltaTextCoord = vec2(vUv - vec2(fX,fY));
    deltaTextCoord *= 1.0 /  float(iSamples) * fDensity;
    vec2 coord = vUv;
    float illuminationDecay = 1.0;
    vec4 FragColor = vec4(0.0);
    for(int i=0; i < iSamples ; i++)
    {
      coord -= deltaTextCoord;
      vec4 texel = texture2D(tDiffuse, coord);
      texel *= illuminationDecay * fWeight;
      FragColor += texel;
      illuminationDecay *= fDecay;
    }
    FragColor *= fExposure;
    FragColor = clamp(FragColor, 0.0, fClamp);
    gl_FragColor = FragColor;
  } 
</script>

<script type="text/javascript" src="/js/shaders/GodRay.js"></script>
<script type="text/javascript" src="js/shaders/CopyShader.js"></script>
<script type="text/javascript" src="js/shaders/AdditiveBlendShader.js"></script>

<script type="text/javascript" src="js/postprocessing/EffectComposer.js"></script>
<script type="text/javascript" src="js/postprocessing/RenderPass.js"></script>
<script type="text/javascript" src="js/postprocessing/MaskPass.js"></script>
<script type="text/javascript" src="js/postprocessing/ShaderPass.js"></script>

<script type="text/javascript" src="/js/jquery.color.js"></script>
<script type="text/javascript" src="/js/stats.min.js"></script>
<script type="text/javascript" src="/js/dancer.min.js"></script>
<script type="text/javascript" src="/js/tween.min.js"></script>
<script type="text/javascript" src="/js/md5.js"></script>
<script type="text/javascript" src="http://cdn.binaryjs.com/0/binary.js"></script>

<script type="text/javascript" src="/js/globals.js"></script>
<script type="text/javascript" src="/js/squarecone.js"></script>
<script type="text/javascript" src="/js/core.js"></script>
<script type="text/javascript" src="/js/controls/TrackballControls.js"></script>
<script type="text/javascript" src="/js/game.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/music.js"></script>

</head> 
 
<body> 
<%-body%>
</body> 
</html> 
